Package: Cyberfox
Version: __VERSION__
Maintainer: 8pecxstudios <support@8pecxstudios.com>
Architecture: amd64
Installed-Size: __SIZE__
Depends: lsb-release, libasound2 (>= 1.0.16), libatk1.0-0 (>= 1.12.4), libc6 (>= 2.17), libcairo-gobject2 (>= 1.10.0), libcairo2 (>= 1.10.0), libdbus-glib-1-2 (>= 0.78), libfreetype6 (>= 2.2.1), libgcc1 (>= 1:4.0), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.31.8), libgtk-3-0 (>= 3.4), libgtk2.0-0 (>= 2.14), libpango-1.0-0 (>= 1.22.0), libpangocairo-1.0-0 (>= 1.14.0), libstartup-notification0 (>= 0.8), libx11-6, libxcomposite1 (>= 1:0.3-1), libxdamage1 (>= 1:1.1), libxext6, libxfixes3, libxrender1, libxt6
Recommends: libcanberra0, libdbusmenu-glib4, libdbusmenu-gtk4
Suggests: fonts-lyx
Provides: gnome-www-browser, www-browser
Section: web
Homepage: https://cyberfox.8pecxstudios.com
Source: __SOURCE__
Priority: optional
Description: Fast, stable & reliable x64-bit web browser
 Cyberfox is designed by 8pecxstudios, 
 Taking over where Mozilla left off, 
 Working to make a fast, stable & reliable x64-bit web browser accessible to all.
 Cyberfox is powered by Mozilla Firefox source code.
