/* Default Light theme*/

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url("about:home") {
    :root {
        --main-highlight-color: #00adee;
        --main-text-color: #555555;
    }
    html {
        font: message-box;
        font-size: 100%;
        background-color: hsl(0, 0%, 95%) !important;
        color: #333;
        height: 100%;
    }
    body {
        margin: 0;
        display: -moz-box;
        -moz-box-orient: vertical;
        width: 100%;
        height: 100%;
        background-color: #dedede !important;
        background-image: url("chrome://classic_theme_restorer/content/images/abouthome/noise.png") !important;
    }
    input,
    button {
        font-size: inherit;
        font-family: inherit;
    }
    a {
        color: -moz-nativehyperlinktext;
        text-decoration: none;
    }
    .spacer {
        -moz-box-flex: 1;
    }
    .headerbar {
        min-height: 55px;
        max-height: 70px;
        width: 100%;
    }
    #hmspace {
        height: 5px;
        background-color: #555555 !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.1) !important;
    }
    .hmenubar {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: rgb(235, 235, 237) !important;
        background-image: linear-gradient(rgb(237, 238, 240), rgb(237, 238, 240) 95%, rgb(225, 225, 225)) !important;
        border-bottom: 1px solid rgb(199, 199, 199) !important;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), 0px 6px 0px rgb(75, 73, 67) inset, 0px 7px 0px rgb(255, 255, 255) inset !important;
        font-size: 0px;
        letter-spacing: 0px;
        word-spacing: 0px;
        /*background-color: #212121;*/
    }
    .hmenubar li {
        min-height: 55px;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: relative;
        left: auto;
        right: auto;
    }
    .hmenubar li a {
        display: block;
        margin: 0;
        padding-top: 15px !important;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        line-height: 19px;
        font-weight: bold;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        width: auto;
        min-width: 73px;
        color: var(--main-text-color)!important;
        height: 55;
        font-size: 14px;
    }
    .hmenubar li a:hover {
        color: var(--main-highlight-color)!important;
        background-color: rgb(237, 237, 239);
        background-image: linear-gradient(rgb(216, 216, 218), rgb(237, 237, 239) 30%, rgb(237, 238, 240));
        background: url("chrome://classic_theme_restorer/content/images/abouthome/menu-shadow_light.png") no-repeat scroll -28px -8px transparent;
        border-top: 6px solid rgb(55, 55, 55);
        border-bottom: 1px solid rgb(55, 55, 55, .3);
        box-shadow: 1px 4px 4px hsla(0, 0%, 0%, .100) inset, 1px 4px 4px hsla(0, 0%, 0%, .100) inset;
        padding-top: 9px !important;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        line-height: 19px;
        font-weight: bold;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }
    .hmenubar li a:active {
        color: var(--main-text-color)!important;
        background-color: rgb(237, 237, 239);
        background-image: linear-gradient(rgb(216, 216, 218), rgb(237, 237, 239) 30%, rgb(237, 238, 240));
        border-top: 6px solid rgb(35, 35, 35);
        border-bottom: 1px solid rgb(55, 55, 55, .3);
        box-shadow: 1px 4px 4px hsla(0, 0%, 0%, .100) inset, 1px 4px 4px hsla(0, 0%, 0%, .100) inset;
        padding-top: 9px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        line-height: 19px;
        font-weight: bold;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }
    .hmenubar li a.clicked {
        color: #FFF !important;
        font-weight: bold;
        background: #3a3b3c !important;
        border-radius: 0px 0px 5px 5px;
    }
    #topSection {
        text-align: center !important;
    }
    #brandLogo {
        height: 154px !important;
        width: 154px !important;
        margin: 22px auto 31px;
        background-image: url("chrome://branding/content/about-logo.png");
        background-size: 154px auto !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }
    #searchForm {
        width: 480px;
        display: -moz-box;
    }
    #searchLogoContainer {
        z-index: -2000;
        display: -moz-box;
        -moz-box-align: center;
        padding-top: 2px;
        -moz-padding-end: 8px;
    }
    #searchLogoContainer[hidden] {
        display: none;
    }
    #searchEngineLogo {
        display: inline-block;
        height: 28px;
        width: 70px;
        min-width: 70px;
    }
    #searchIcon {
        border: 1px solid transparent !important;
        -moz-margin-end: 5px;
        height: 38px;
        width: 38px;
        background-image: url("chrome://classic_theme_restorer/content/images/abouthome/magnifier_light.png") !important;
        background-color: transparent;
        background-size: 26px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #searchIcon[active],
    #searchIcon:hover {
        background-color: rgb(237, 238, 240)!important;
        border: 1px solid #cecece !important;
        border-radius: 2.5px;
    }
    html[searchUIConfiguration="oldsearchui"] #searchIcon {
        display: none;
    }
    html:not([searchUIConfiguration="oldsearchui"]) #searchText::-moz-placeholder {
        color: transparent;
    }
    html:not([searchUIConfiguration="oldsearchui"]) #searchLogoContainer {
        display: none;
    }
    #searchText {
        -moz-box-flex: 1;
        padding: 6px 8px;
        color: var(--main-text-color)!important;
        background-color: #aeaeae !important;
        background-image: url(chrome://classic_theme_restorer/content/images/abouthome/noise.png), -moz-linear-gradient(rgb(237, 238, 240), rgb(237, 238, 240) 95%, rgb(225, 225, 225)) !important;
        box-shadow: 1px 3px 3px hsla(0, 0%, 0%, .100) inset, 1px 3px 3px hsla(0, 0%, 0%, .100) inset !important;
        border: 1px solid #aeaeae !important;
        border-radius: 2.5px 0 0 2.5px;
    }
    #searchText:-moz-dir(rtl) {
        border-radius: 0 2.5px 2.5px 0;
    }
    #searchSubmit,
    #searchText:focus,
    #searchText[autofocus] {
        border-color: var(--main-highlight-color)!important;
    }
    #searchSubmit {
        -moz-margin-start: -1px;
        color: var(--main-text-color)!important;
        background: linear-gradient(hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .1)) padding-box !important;
        padding: 0 9px;
        border: 1px solid !important;
        background-color: #aeaeae !important;
        border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .17) hsla(210, 54%, 20%, .2);
        background-image: url(chrome://classic_theme_restorer/content/images/abouthome/noise.png), -moz-linear-gradient(rgb(237, 238, 240) 25%, rgb(237, 238, 240) 50%, rgb(225, 225, 225) 75%) !important;
        border: 1px solid #aeaeae !important;
        border-radius: 0 2.5px 2.5px 0;
        box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.1) !important;
        cursor: pointer;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 150ms;
    }
    #searchSubmit:-moz-dir(rtl) {
        border-radius: 2.5px 0 0 2.5px;
    }
    #searchText:focus + #searchSubmit,
    #searchText + #searchSubmit:hover,
    #searchText[autofocus] + #searchSubmit {
        /* border-color: -moz-linear-gradient(#4cb1ff, #1793e5) !important;*/
        
        background-image: url(chrome://classic_theme_restorer/content/images/abouthome/noise.png);
        color: var(--main-highlight-color)!important;
    }
    #searchText:focus + #searchSubmit,
    #searchText[autofocus] + #searchSubmit {
        background-image: url(chrome://classic_theme_restorer/content/images/abouthome/noise.png), -moz-linear-gradient(#efefef, #dedede) !important;
        border: 1px solid !important;
        border-color: var(--main-highlight-color)!important;
    }
    #searchText + #searchSubmit:hover {
        background-image: -moz-linear-gradient(rgb(237, 238, 240) 15%, rgb(237, 238, 240) 40%, rgb(225, 225, 225) 65%) !important;
        color: var(--main-highlight-color)!important;
        -moz-transition: .1s ease-in;
    }
    #searchText + #searchSubmit:hover:active {
        color: var(--main-highlight-color)!important;
        background-image: url(chrome://classic_theme_restorer/content/images/abouthome/noise.png);
        text-shadow: 0px 0px 3px var(--main-highlight-color)!important;
        box-shadow: 0pt 5px 0pt rgba(234, 235, 237, 0.1) inset, 0 0 6.5px rgba(0, 0, 0, .4) inset, 0 0 5px rgba(0, 0, 0, .4) inset;
        -moz-transition: .1s ease-in;
        border: 1px solid #aaaaaa;
    }
    /* Add snippets support for users who use cyberCTR in firefox */
    
    #defaultSnippet1,
    #defaultSnippet2,
    #rightsSnippet {
        display: block;
        min-height: 38px;
        background: 30px center no-repeat;
        padding: 6px 0;
        -moz-padding-start: 79px;
    }
    #rightsSnippet[hidden] {
        display: none;
    }
    #defaultSnippet1:-moz-dir(rtl),
    #defaultSnippet2:-moz-dir(rtl),
    #rightsSnippet:-moz-dir(rtl) {
        background-position: right 30px center;
    }
    #defaultSnippet1 {
        background-image: url("chrome://browser/content/abouthome/snippet1.png");
    }
    #defaultSnippet2 {
        background-image: url("chrome://browser/content/abouthome/snippet2.png");
    }
    #snippets {
        display: inline-block;
        text-align: start;
        margin: 12px 0;
        color: #333 !important;
        font-size: 75%;
        /* 12px is the computed font size, 15px the computed line height of the snippets
		 with Segoe UI on a default Windows 7 setup. The 15/12 multiplier approximately
		 converts em from units of font-size to units of line-height. The goal is to
		 preset the height of a three-line snippet to avoid visual moving/flickering as
		 the snippets load. */
        
        min-height: calc(15/12 * 3em);
    }
    #snippets a {
        color: var(--main-highlight-color)!important;
    }
    #snippets a:hover {
        color: #3c3c3c!important;
    }
    #launcher {
        display: -moz-box;
        -moz-box-align: center;
        -moz-box-pack: center;
        width: 100%;
        background-color: rgb(245, 245, 247) !important;
        background-image: linear-gradient(rgb(247, 248, 250), rgb(237, 238, 240) 85%, rgb(215, 215, 215)) !important;
        border-top: 1px solid rgb(199, 199, 199) !important;
        box-shadow: 0px 1px 0px #bebebe inset !important;
    }
    #launcher:not([session]),
    body[narrow] #launcher[session] {
        display: block;
        /* display separator and restore button on separate lines */
        
        text-align: center;
        white-space: nowrap;
        /* prevent navigational buttons from wrapping */
    }
    .launchButton {
        display: -moz-box;
        -moz-box-orient: vertical;
        margin: 16px 1px;
        padding: 14px 6px;
        min-width: 88px;
        max-width: 176px;
        max-height: 85px;
        vertical-align: top;
        white-space: normal;
        background: transparent padding-box;
        border: 1px solid #cecece !important;
        border-radius: 12px;
        color: var(--main-text-color)!important;
        font-size: 75%;
        cursor: pointer;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 50ms;
    }
    body[narrow] #launcher[session] > .launchButton {
        margin: 4px 1px;
    }
    .launchButton:hover {
        color: var(--main-highlight-color)!important;
        background-color: rgb(235, 235, 233) !important;
        background-image: linear-gradient(rgb(206, 206, 208), rgb(237, 237, 239) 60%, rgb(237, 238, 240)) !important;
        box-shadow: 1px 4px 4px hsla(0, 0%, 0%, .100) inset, 1px 4px 4px hsla(0, 0%, 0%, .100) inset !important;
        border: 1px solid #bebebe !important;
        -moz-transition: .1s ease-in;
    }
    .launchButton:hover:active {
        color: var(--main-text-color)!important;
        background-color: rgb(215, 215, 213) !important;
        background-image: linear-gradient(rgb(206, 206, 208), rgb(217, 217, 219) 30%, rgb(217, 218, 210)) !important;
        box-shadow: 1px 4px 4px hsla(0, 90%, 90%, .100) inset, 1px 4px 4px hsla(0, 0%, 0%, .99) inset !important;
        border: 1px solid #bebebe !important;
        -moz-transition: .1s ease-out;
    }
    .launchButton[hidden],
    #launcher:not([session]) > #restorePreviousSessionSeparator,
    #launcher:not([session]) > #restorePreviousSession {
        display: none;
    }
    #restorePreviousSessionSeparator {
        width: 3px;
        height: 116px;
        margin: 0 10px;
        background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, 0)), linear-gradient(hsla(211, 79%, 6%, 0), hsla(211, 79%, 6%, .2), hsla(211, 79%, 6%, 0)), linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, 0)) !important;
        background-position: left top, center, right bottom;
        background-size: 1px auto;
        background-repeat: no-repeat;
    }
    body[narrow] #restorePreviousSessionSeparator {
        margin: 0 auto;
        width: 512px;
        height: 3px;
        background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, 0)), linear-gradient(to right, hsla(211, 79%, 6%, 0), hsla(211, 79%, 6%, .2), hsla(211, 79%, 6%, 0)), linear-gradient(to right, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, 0)) !important;
        background-size: auto 1px;
    }
    #restorePreviousSession {
        max-width: none;
        font-size: 90%;
    }
    body[narrow] #restorePreviousSession {
        font-size: 80%;
    }
    .launchButton::before {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0 auto 6px;
        line-height: 0;
        /* remove extra vertical space due to non-zero font-size */
    }
    #downloads::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/downloads_light.png") !important;
    }
    #bookmarks::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/bookmarks_light.png") !important;
    }
    #history::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/history_light.png") !important;
    }
    #apps::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/apps_light.png") !important;
    }
    #addons::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/addons_light.png") !important;
    }
    #sync::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/sync_light.png") !important;
    }
    #settings::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/settings_light.png") !important;
    }
    #restorePreviousSession::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/restore-large_light.png") !important;
        height: 48px;
        width: 48px;
        display: inline-block;
        /* display on same line as text label */
        
        vertical-align: middle;
        margin-bottom: 0;
        -moz-margin-end: 8px;
    }
    #restorePreviousSession:-moz-dir(rtl)::before {
        transform: scaleX(-1);
    }
    body[narrow] #restorePreviousSession::before {
        content: url("chrome://classic_theme_restorer/content/images/abouthome/restore_light.png") !important;
        height: 32px;
        width: 32px;
    }
    #aboutCyberfox {
        display: block;
        position: relative;
        /* pin wordmark to edge of document, not of viewport */
        
        -moz-box-ordinal-group: 0;
        opacity: .5;
        transition: opacity 150ms;
    }
    #aboutCyberfox:hover {
        opacity: 1;
    }
    #aboutCyberfox::before {
        /*content: url("chrome://classic_theme_restorer/content/images/abouthome/cyber.png");*/
        
        display: block;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 69px;
        height: 19px;
    }
    /* [HiDPI]
	 * At resolutions above 1dppx, prefer downscaling the 2x Retina graphics
	 * rather than upscaling the original-size ones (bug 818940).
	 */
    
    @media not all and (max-resolution: 1dppx) {
        #brandLogo {
            background-image: url("chrome://branding/content/about-logo@2x.png");
        }
        #searchIcon {
            background-image: url("chrome://classic_theme_restorer/content/images/abouthome/magnifier_light@2px.png") !important;
        }
        #defaultSnippet1,
        #defaultSnippet2,
        #rightsSnippet {
            background-size: 40px;
        }
        #defaultSnippet1 {
            background-image: url("chrome://browser/content/abouthome/snippet1@2x.png");
        }
        #defaultSnippet2 {
            background-image: url("chrome://browser/content/abouthome/snippet2@2x.png");
        }
        .launchButton::before,
        #aboutMozilla::before {
            transform: scale(.5);
            transform-origin: 0 0;
        }
        .launchButton:-moz-dir(rtl)::before,
        #aboutCyberfox:-moz-dir(rtl)::before {
            transform: scale(.5) translateX(32px);
        }
        #downloads::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/downloads_light@2x.png") !important;
        }
        #bookmarks::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/bookmarks_light@2x.png") !important;
        }
        #history::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/history_light@2x.png") !important;
        }
        #apps::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/apps_light@2x.png") !important;
        }
        #addons::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/addons_light@2x.png") !important;
        }
        #sync::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/sync_light@2x.png") !important;
        }
        #settings::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/settings_light@2x.png") !important;
        }
        #restorePreviousSession::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/restore-large_light@2x.png") !important;
        }
        body[narrow] #restorePreviousSession::before {
            content: url("chrome://classic_theme_restorer/content/images/abouthome/restore_light@2x.png") !important;
        }
        #restorePreviousSession:-moz-dir(rtl)::before {
            transform: scale(-0.5, 0.5) translateX(24px);
            transform-origin: top center;
        }
        #aboutCyberfox::before {
            /*content: url("chrome://classic_theme_restorer/content/images/abouthome/cyber@2x.png");*/
        }
    }
}