@-moz-document url("about:addons") {

    #header-search {    
        height: 23px!important;
        margin-bottom: -2px;
        -moz-appearance: none;
        -moz-padding-start: 2px!important;
        border: 1.1px solid #adbdcd;
        border-radius: 3px!important;
        width: 23px!important;
        background: linear-gradient(to bottom, hsl(0, 0%, 97%) 0, #efefef 100%);
        transition: background-color 0.55s, box-shadow 0.55s, width 0.65s!important;
    }
    #header-search .textbox-search-icon {
        -moz-margin-end: 0px;
    }
    #header-search:hover,
    #header-search[focused],
    #header-search:active {
        width: 245px!important;
        transition: 1.2s ease-out;
    }
}