/*
    * (Tabs Title In Titlebar)
    * comprised from https://userstyles.org/styles/41025/firefox-bring-the-title-back
    *  https://8pecxstudios.com/Forums/viewtopic.php?f=4&t=711#p4511
    * https://8pecxstudios.com/Forums/viewtopic.php?f=4&t=711#p4550
    * All credits below to there original authors.
    */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
    #main-window:after {
        content: attr(title) !important;
        line-height: 50px !important;
        max-height: 50px !important;
        overflow: -moz-hidden-unscrollable !important;
        pointer-events: none !important;
        position: fixed !important;
        word-wrap: break-word !important;
        -moz-hyphens: auto !important;
        font-weight: bold !important;
        color: CaptionText !important;
    }

    #main-window:-moz-window-inactive:after {
        color: InactiveCaptionText !important;
    }

    #main-window[inFullscreen="true"]:after,
          #main-window[sizemode="maximized"][tabsintitlebar="true"]:after,      
          #main-window:not([chromemargin]):after {
        opacity: 0 !important;
    }
          /*  If tabs on top is set and the appmenu button in title-bar is set then there is room for tab title in title-bar to show so lets show it. */
    #main-window[sizemode="maximized"][tabsontop="false"]:after {
        opacity: 100 !important;
    }

    #main-window:after {
        padding: 0 105px !important;
        left: 0 !important;
        right: 0 !important;
        text-align: left !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"]):after {
        padding: 0 115px 0 22px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"][sizemode="normal"]:after {
        left: -12px !important;
        right: -12px !important;
    }

          @    media all and (-moz-windows-classic) {
        #main-window: after {
                top: -13px !important;
        text-shadow: none !important;
        background-position: 2px 18px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"] #TabsToolbar {
        margin-top: 16px !important;
    }
}

@media all and (-moz-windows-theme: aero) {

    #main-window:after {
        top: -7px !important;
        font-weight: normal !important;
        text-shadow: none !important;
        background-position: 2px 17px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"] #TabsToolbar {
        margin-top: 28px !important;
    }
}

@media (-moz-windows-glass) {

    #main-window:after {
        top: -13px !important;
        text-shadow: rgba(255, 255, 255, .7) 7px -1px 12px,
                       rgba(255, 255, 255, .7) 7px -1px 13px,
                       rgba(255, 255, 255, .7) 7px -1px 14px,
                       rgba(255, 255, 255, .7) -7px -1px 12px,
                       rgba(255, 255, 255, .7) -7px -1px 13px,
                       rgba(255, 255, 255, .7) -7px -1px 14px !important;
        z-index: -99998 !important;
        background-position: 2px 18px !important;
    }

    #main-window[sizemode="maximized"]:after {
        top: -7px !important;
    }

    #main-window:-moz-window-inactive:after {
        color: CaptionText !important;
        text-shadow: rgba(255, 255, 255, .6) 7px -1px 12px,
                       rgba(255, 255, 255, .6) 7px -1px 13px,
                       rgba(255, 255, 255, .6) 7px -1px 14px,
                       rgba(255, 255, 255, .6) -7px -1px 12px,
                       rgba(255, 255, 255, .6) -7px -1px 13px,
                       rgba(255, 255, 255, .6) -7px -1px 14px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"]:after {
        top: -11px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"] #TabsToolbar {
        margin-top: 25px !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"]) #TabsToolbar:not(:-moz-lwtheme):before {
        z-index: -99999!important;
    }
}

@media all and (-moz-windows-theme: luna-blue), all and (-moz-windows-theme: luna-olive) {

    #main-window:after {
        font-family: trebuchet MS !important;
        font-size: 13px !important;
        text-shadow: 1px 1px rgba(0, 0, 0, .6) !important;
        top: -8px !important;
        background-position: 2px 17px !important;
    }

    #main-window:-moz-window-inactive:after {
        text-shadow: none !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"] #TabsToolbar {
        margin-top: 25px !important;
    }
}

@media all and (-moz-windows-theme: luna-silver), all and (-moz-windows-theme: royale), all and (-moz-windows-theme: zune), all and (-moz-windows-theme: generic) {

    #main-window:after {
        font-family: trebuchet MS !important;
        font-size: 13px !important;
        text-shadow: 1px 1px rgba(0, 0, 0, .2) !important;
        top: -8px !important;
        background-position: 2px 16px !important;
    }

    #main-window:-moz-window-inactive:after {
        text-shadow: none !important;
    }

    #main-window:-moz-any([stylish-application-version^="28"], 
	[stylish-application-version^="29"], 
	[stylish-application-version^="30"], 
	[stylish-application-version^="31"])[sizemode="normal"] #TabsToolbar {
        margin-top: 25px !important;
    }
}

@media all and (-moz-windows-compositor) {

          @    media not all and (-moz-windows-glass) {
        #main-window: after {
             top: -10px !important;
        font-size: 15px !important;
        background-position: 4px 17px !important;
    }
}

          }

@media not all and (min-width: 300px) {

    #main-window:after {
        opacity: 0 !important;
    }
}

#main-window:after,
          #main-window:-moz-window-inactive:after {
    font-weight: bold !important;
    color: black !important;
    /*         text-shadow: white 0.5px 0.5px 0.5px !important; */;
}

#main-menubar {
    background-color: #C4D2E4  !important;
    padding: 0px 2px 0px 2px !important;
    border: 1px solid #C4D2E4 !important;
    border-radius: 0px 0px 5px 5px !important;
    margin-left: 5px !important;
}
    }