;The comment below contains SFX script commands
Overwrite=1
Delete=distribution\*.*
Title=CyberCTR Update Package 1.4.4
Text
{
<html  style="background:#fefefe;color:#333;">
<body>
<h2 style="color:#d85030;text-transform:none;font-size:24px;line-height:30px;">How to use:</h2>
<div style="font-size:15px;">
<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">For installed and zipped:</h4>
<ul style="list-style:none;">
<li>Download and run <em style="color:#e28327!important;font-weight:bold;">CyberCTRUpdatePackage.exe</em></li>
<li>Then on the open window click the browse button and select cyberfox install folder or the folder that contains <em style="color:#e28327!important;font-weight:bold;">cyberfox.exe</em></li>
<li>Now Once you have selected the install folder or the folder that contains <em style="color:#e28327!important;font-weight:bold;">cyberfox.exe</em></li>
<li>Click the extract button.</li>
<li>It will then remove the old versions of CyberCTR and add the newer version.</li>
</ul>
<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">For cyberfox portable and zipped portable:</h4>
<ul style="list-style:none;">
<li>Download and run <em style="color:#e28327!important;font-weight:bold;">CyberCTRUpdatePackage.exe</em></li>
<li>Then on the open window click the browse button and select "CyberfoxPortable\App\Cyberfox"</li>
<li>Now Once you have selected "CyberfoxPortable\App\Cyberfox"</li>
<li>Click the extract button.</li>
<li>It will then remove the old versions of CyberCTR and add the newer version.</li>
</ul>

<h2 style="color:#d85030;text-transform:none;font-size:24px;line-height:30px;">Update History:</h2>

    
<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.4.4</h4>
<ul style="list-style:none;">
<li>Fixed: Custom button color not showing set color.</li>
<li>Updated: fr (French) localization (Thanks michgagnon)</li>
<li>Passed CTR 1.4.3b8 to 1.4.314 features over to CyberCTR</li>
<li>Reverted: Commit fe07f22 due to minor bugs.</li>
<li>Updated: Passed CTR 1.4.3b15  to 1.4.3 features over to CyberCTR.</li>
<li>Updated: Uikit to 2.23.0</li>
<li>Added: Back click able cyberfox image. (About:Home)</li>
<li>Fixed: Also remove cyberfox image when no logo is selected.</li>
<li>Updated: Passed CTR 1.4.4b1  to 1.4.4 features over to CyberCTR.</li>
<li>New: Option animate animated lightweight themes on browser start-up.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.4.3</h4>
<ul style="list-style:none;">
<li>Passed CTR 1.4.3b4 to 1.4.3b7 features over to CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.4.2</h4>
<ul style="list-style:none;">
<li>Update: Ru (Russian) localization (Thanks Eroppo)</li>
<li>Passed CTR 1.4.3b3 features over to CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.4.1</h4>
<ul style="list-style:none;">
<li>Passed CTR 1.4.0 b5 to CTR 1.4.0 features over to CyberCTR</li>
<li>Update: Ru (Russian) localization (Thanks Eroppo)</li>
<li>Fixed: about:home animations.</li>
<li>Fixed: about:home styles for (42.0*)</li>
<li>Make: minimum cyberfox version for CyberCTR 1.4.1 (42.0)</li>
<li>Fixed: about:newtab custom background for (42.0*)</li>
<li>Fixed: Alt about:newtab style toggle button.</li>
<li>Fixed: Text selection on Alt about:newtab sites</li>
<li>Fixed: Alt about:newtab panel overlay.</li>
<li>Fixed: Alt about:newtab site styling.</li>
<li>Fixed: Alt about:newtab pages styles for (42.0*)</li>
<li>Restored: CyberCTR's backwards version support.</li>
<li>Fixed: Version number typo in commit 0ebbaf5</li>
<li>Update: Passed CTR 1.4.1b1 to 1.4.1b3 features over to CyberCTR</li>
<li>Adjusted: browser.context.classic option in options.</li>
<li>Update: Ru (Russian) localization (Thanks Eroppo)</li>
<li>Test: Minor optimization of overlay.js</li>
<li>New: Added 5 new loading throbbers.</li>
<li>Update: Passed CTR 1.4.1b4 to 1.4.1 release features over to CyberCTR.</li>
<li>New: Allow users to select custom tab throbbers.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.4.0</h4>
<ul style="list-style:none;">
<li>Delay load MutationObserver for restoreActivityThrobber.</li>
<li>Fixed: Text selection on menu items and logo on about:home page.</li>
<li>Fixed: Selected text padding on about:home page.</li>
<li>Fixed: cyberfox big mode icons css import.</li>
<li>Passed CTR 1.4.0 b1 to 1.4.0 b2  features over to CyberCTR</li>
<li>Removed: Old tabs title in title bar.</li>
<li>Fixed: Missing setting in aerocolors</li>
<li>Passed CTR 1.4.0 b3 to 1.4.0 b4  features over to CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.3.9</h4>
<ul style="list-style:none;">
<li>Passed CTR 1.3.9 b4 to CTR 1.3.9 b5 features over to CyberCTR</li>
<li>Reformat and highlighted cyberCTR custom settings.</li>
<li>Hide: about:newtab url settings (41.0*) since these settings are native to the options page.</li>
<li>Update Ru (Russian) localization (Thanks Eroppo)</li>
<li>Passed CTR 1.3.9 b5 to 1.3.9 b6 features over to CyberCTR</li>
<li>Moved cyberCTR CSS files to own folder.</li>
<li>Passed CTR 1.3.9 b7 features over to CyberCTR</li>
<li>Passed CTR 1.3.9 b9 to 1.3.9 b13 features over to CyberCTR</li>
<li>Fixup search tab.</li>
<li>Make preference window fixed size with scroll bars.</li>
<li>Fixed text and tab hover on search tab.</li>
<li>Update Ru (Russian) localization (Thanks Eroppo)</li>
<li>Passed CTR 1.3.9 b14 to 1.3.9 release features over to CyberCTR</li>
<li>Adjusted: Don't disable tools menu customize cyberfox in australis pre-set.</li>
<li>Fixed:  Restore default not restoring bookmark & feed buttons correctly.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version 1.3.8</h4>
<ul style="list-style:none;">
<li>Passed CTR 1.3.7.1 b1 to CTR 1.3.8 b2 features over to CyberCTR</li>
<li>Refactored: localization files. [see](https://github.com/InternalError503/CyberCTR/commit/d4218537f244141be284c9127b7064fc6808f36b)</li>
<li>Passed CTR 1.3.8 b3 b1 to CTR 1.3.9 b3 features over to CyberCTR</li>
<li>Updated: ru (Russian) localization (Thanks Eroppo)</li>
<li>Fixed: Alt about:newtab style site highlight color.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.7</h4>
<ul style="list-style:none;">
<li>Updated: ru (Russian) localization (Thanks Eroppo)</li>
<li>Updated: fr (French) localization</li>
<li>Fixed: Movable url-bar (Fuel Application) depreciation warning (40*).</li>
<li>Fixed: (Fuel Application) is been depreciated moved elements to preference observer (40*).</li>
<li>Fixed: (Fuel Application) depreciation for treestyle tab compatibility with appmenu button changes (40*).</li>
<li>Fixed: (Fuel Application) depreciation on no context menu icons for (back, forward,reload etc) (40*).</li>
<li>Fixed: Options window version number duplication when using pre-sets.</li>
<li>Passed CTR 1.3.4 b4 to 1.3.5 features over to CyberCTR</li>
<li>Fixed: about:home options in customize cyberfox.</li>
<li>Allow: custom about:home background image input filed to be activated by double click.</li>
<li>Small tidy up to overlay.js head.</li>
<li>Optimized features and information.</li>
<li>Soft disable addon version in cyberCTR (Since addon version numbers are native).</li>
<li>Fixed: Namespacing (addonManager, Services, LightweightThemeManager, NewTabURL) and other imports are defined globally and accessible outside of CyberCTR.</li>
<li>Passed CTR 1.3.6 b1 to 1.3.6 b4 features over to CyberCTR.</li>
<li>Remove: Snippets video (Firefox about:home page).</li>
<li>Better target css for snippet & logo replacements in firefox.</li>
<li>Fixed: Newtab page cell margin.</li>
<li>Removed: Important modifier on alt newtab page background style.</li>
<li>New: Custom background for about:newtab page</li>
<li>Added: Option to stretch about:newtab background image to window.</li>
<li>Use tabmix compatibility mode for curved tab bug.</li>
<li>Fixed: Collapsible addon search in 40+</li>
<li>Set stretch about:newtab background image to false by default.</li>
<li>Rebuilt: compatibility for personal menu.</li>
<li>Passed: CTR 1.3.6 b5 to 1.3.6 features over to CyberCTR</li>
<li>Refactored: "Pre-Configure CyberCTR Settings" notifications.</li>
<li>Updated: ru (Russian) localization</li>
<li>Updated: fr (French) localization</li>
<li>Use MD5 for detecting changes with "Pre-Configure CyberCTR Settings"</li>
<li>Fixed: Break condition in notifications.</li>
<li>Refactor: "Pre-Configure CyberCTR Settings"</li>
<li>Updated: CyberCTR preference blacklist.</li>
<li>Added: Preference for when CTRpreferences override is active.</li>
<li>Added: Option to clear CTRpreferences backup.</li>
<li>Passed CTR 1.3.7 b1 to CTR 1.3.7 features over to CyberCTR</li>
<li>Fixed: margin & width of collapsible addon search 40+</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.6</h4>
<ul style="list-style:none;">
<li>Allow users to enabled movable url-bar.</li>
<li>Updated: fr (French) localization</li>
<li>Passed: CTR  versions 1.3.4 B1 to 1.3.4B3 features over to CyberCTR.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.5</h4>
<ul style="list-style:none;">
<li>Updated: Uikit to 2.20.3</li>
<li>Updated: Jquery to 2.1.4</li>
<li>Updated: Features information.</li>
<li>New: Change bookmark tool-bar font size.</li>
<li>New: Change tab text font size.</li>
<li>Updated: ru (Russian) localization</li>
<li>Updated: fr (French) localization</li>
<li>Updated: tr (Turkish) localization.</li>
<li>Hide: menu entries for pocket when disabled.</li>
<li>Passed CTR 1.3.3 b1-b8 features over to CyberCTR</li>
<li>Added: Pocket to cyberCTR app-menu.</li>
<li>Optimize image compression for cyberCTR images.</li>
<li>Updated: Help link</li>
<li>Fixed: Reduce duplicate code in import\export CTRPreferences.</li>
<li>Fixed: Bleed through from base about:home text color.</li>
<li>Fixed: Prevent removal of url-bar to prevent null elements on reading list breaking the browser. See here and here</li>
<li>Added: Check for null on reading list.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.4</h4>
<ul style="list-style:none;">
<li>Reduced: CTRpreferences.json file size by almost half.</li>
<li>Enable base color to be easily adjusted on about:home pages.</li>
<li>New: Change default base text color on about:home page.</li>
<li>Added: File selector for custom about:home background image.</li>
<li>Added: Alternate Dark about:home background.</li>
<li>Added: Alternate Light about:home background.</li>
<li>Added: Styled alternate about:newtab page.</li>
<li>Enable: Changing of text\grid & highlight color in alternate about:newtab page.</li>
<li>Updated: fr (French) localization.</li>
<li>Updated: ru (Russian) localization.</li>
</ul>

 <h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.3</h4>
<ul style="list-style:none;">
<li>Updated: ru (Russian) localization.</li>
<li>Adjusted: Reword update message</li>
<li>Fixed: this.target is undefined message when update check fails.</li>
<li>Added: Sync exclusion filter.</li>
<li>Adjusted: Use single filter over having duplicates.</li>
<li>Updated: fr (French) localization</li>
<li>Adjusted: Change & move features and information button.</li>
<li>Updated: Contact us URL</li>
<li>New: Localization for features & information UI elements.</li>
<li>Fixed: Typo in features.file</li>
<li>Fixed: Update message not showing in translated version</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.2</h4>
<ul style="list-style:none;">
<li>Fixed: Entity name change for pocket description.</li>
<li>Fixed: Missing reader mode entity for ru localization</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.1</h4>
<ul style="list-style:none;">
<li>New: Hide elements by class or id with css and custom filter.</li>
<li>Added: GUI option to add css classes or ids to custom filter</li>
<li>Passed: CTR  versions 1.3.1B8 to 1.3.1B10 features over to CyberCTR.</li>
<li>Test: Block Firefox hello ad in Firefox.</li>
<li>New: update check in features & information.</li>
<li>Added: Manual check button.</li>
<li>Added: ID list.</li>
<li>Fixed: Tooltips not working since update to UIKIT 2.19.0</li>
<li>Added: Link to ID list with option settings.</li>
<li>Added: Clear filter button with confirmation.</li>
<li>Rebuilt how users interact with the filter settings.</li>
<li>Fixed: Case sensitive IDs</li>
<li>Ignore whitespace on beginning & end of filter when detecting change to filter.</li>
<li>Added: Copy filter button to copy filter to the clipboard.</li>
<li>Passed CTR 1.3.1 to 1.3.1.1 release features over to CyberCTR</li>
<li>Make: Hide element group description able to be translated.</li>
<li>Updated: ru (Russian) localization.</li>
<li>Don't allow update checks in Firefox.</li>
<li>Make sure to remove event listener to free up any resources.</li>
<li>Update: ID_List.md</li>
<li>Fixed: ctraddon_appbutton2 is null on linux.</li>
<li>Passed CTR 1.3.2 b1 to 1.3.2 b5 features over to CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.3.0</h4>
<ul style="list-style:none;">
<li>Make stretching of background image optional.</li>
<li>Updated: Uikit to 2.19.0</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.9</h4>
<ul style="list-style:none;">
<li>Allow changing if dark & light about:home theme highlights.</li>
<li>Passed: CTR  versions 1.3.1B1 to 1.3.1B7 features over to CyberCTR.</li>
<li>Option change columns & rows on newtab page.</li>
<li>Updated: Features.html</li>
<li>Disabled: No icons option when simplicitycustom is selected</li>
<li>Fixed: Few small typos</li>
<li>Updated: ru (Russian) localization.</li>
<li>Make: about:home page animations optional</li>
<li>New: Collapsible about:addons search bar</li>
<li>Use !important; on Simplictiy pre-sets to prevent been overridden by default.</li>
<li>Moved: About:home anitmations item up one.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.8</h4>
<ul style="list-style:none;">
<li>Updated: ru (Russian) localization (Thanks Egorro).</li>
<li>Remove search engine logo in about:home no icons</li>
<li>Remove search engine logo from simplicity about:home themes</li>
<li>Bumped version</li>
<li>New: Custom hightlight colors for simplicity about:home style.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.7</h4>
<ul style="list-style:none;">
<li>Added: Simplicity About:Home (Yellow) style.</li>
<li>Reword: Simplicity styles.</li>
<li>Updated: Uikit to 2.18.0</li>
<li>Updated: Features.html</li>
<li>Fixed: Application button for nautipolis theme.</li>
<li>Don't animateFadeIn options window in nautipolis theme</li>
<li>Don't force background image in simplicity styles.</li>
<li>New: Custom background image for abouthome page.</li>
<li>Trim start & end of url before slice n dice of backslashes & whitespace.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.6</h4>
<ul style="list-style:none;">
<li>Fixed: abouthomesimplicityred.css snippets link color.</li>
<li>Added: Names to heads of custom about:home CSS styles.</li>
<li>Make: No icons option not available for simplicity about:home styles</li>
<li>New: Simplicity About:Home (Green) style.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.5</h4>
<ul style="list-style:none;">
<li>Added back snippet CSS for firefox.</li>
<li>Added: Simplicity About:Home style.</li>
<li>Added: Simplicity About:Home (no links) style.</li>
<li>Reformat about:home css styles</li>
<li>Added: To Simplicity pop-in like effect on snippets in firefox.</li>
<li>Refactored: Custom about:home style no links.</li>
<li>Updated: Features.html added info for about:home and Pre-Configure CyberCTR Settings.</li>
<li>Passed versions CTR 1.3.0B18 to CTR 1.3.0B23 features over to CyberCTR</li>
<li>Give user option between red|blue highlights on simplicity about:home  theme.</li>
<li>Fixed: Simplicity red no links showing in firefox.</li>
<li>Updated: ru (Russian) localization.</li>
<li>Passed CTR 1.3.0 release features over to CyberCTR.</li>
<li>Passed: Updated zh-CN localization from CTR</li>
<li>Make: About:Home no links a simple checkbox option.</li>
<li>New: Option to toggle about:home page logo.</li>
<li>New: Option to toggle about:home page icons.</li>
<li>Changed: Use css file to hide about:home links in cyberfox.</li>
<li>Restyled: #aboutMozilla in abouthomedarkcss style.</li>
<li>New: Option to toggle snippets on about:home page in firefox.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.4</h4>
<ul style="list-style:none;">
<li>Fixed: Css bleed through when using abouthomenobar.css reported here https://8pecxstudios.com/Forums/viewtopic.php?f=5&t=893</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.3</h4>
<ul style="list-style:none;">
<li>Updated zh-CN (Chinese) localization.</li>
<li>Passed CTR 1.3.0B5 features over to CyberCTR</li>
<li>Added: Back keyboard shortcuts menu item.</li>
<li>Moved: Big icons css for cyberfox features to own css.</li>
<li>Passed CTR 1.3.0B6 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B7 features over to CyberCTR</li>
<li>Updated: Uikit to 2.17.0</li>
<li>Passed CTR 1.3.0B8 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B8 rev1 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B9 features over to CyberCTR</li>
<li>Adjusted: Use Serfices.appinfo for nsIXULAppInfo since we have access to it.</li>
<li>Adjusted: Use Services.appinfo for nsIXULRuntime since we have access to it.</li>
<li>Make: Restart browser menu item show icon.</li>
<li>Added: Big icon mode button for copy all tab urls.</li>
<li>Updated: ru (Russian) localization.</li>
<li>Passed CTR 1.3.0B10 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B11 features over to CyberCTR</li>
<li>Update and reformat features.js and features.html</li>
<li>Passed CTR 1.3.0B12 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B13 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B14 features over to CyberCTR</li>
<li>New: Allow users to set tool-bar search-bar maximum width (Range 120px - 295px)</li>
<li>Passed CTR 1.3.0B14 rev:1 features over to CyberCTR</li>
<li>New: Import JSON in custom CTRPreferences override.</li>
<li>Changed: Rebuild CTRpreference override and backup system.</li>
<li>Passed CTR 1.3.0B15 features over to CyberCTR</li>
<li>Passed CTR 1.3.0B16 features over to CyberCTR</li>
<li>Removed: Unneeded if file exist statement.</li>
<li>Passed CTR 1.3.0B17 features over to CyberCTR</li>
<li>New: Allow changing of the about:home page styling.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.2</h4>
<ul style="list-style:none;">
<li>Adjusted: Allow export of title in title-bar preference.</li>
<li>Updated: Passed latest CTR 1.2.9.4 features over to CyberCTR</li>
<li>Updated: Passed latest CTR 1.2.9.5 features over to CyberCTR</li>
<li>Changed: Use &brandShortName; on ctraddon_appbutton instead of Customize</li>
<li>Changed:  about:config menu item behavior</li>
<li>Fixed: Gecko confusion, Now it shows browser name.</li>
<li>Fixed: Use &brandShortName; in overlay.dtd</li>
<li>Updated: Passed latest CTR 1.2.9.6 features over to CyberCTR</li>
<li>Make: Browser name in message.file dynamic</li>
<li>Updated: fr (French) localization</li>
<li>Updated: ru (Russian) localization.</li>
<li>Added: Fallback entities for urlbar accesskeys from CTR1.2.9.6</li>
<li>Passed CTR 1.3.0B3 features over to CyberCTR</li>
<li>Bumped: Install.rdf max version</li>
<li>Fixed: Replaced Geko with &brandShortName; in sl locale.</li>
<li>Updated: Passed latest CTR 1.3.0B3 features over to CyberCTR</li>
<li>Updated: Passed latest CTR 1.3.0B4 features over to CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.1</h4>
<ul style="list-style:none;">
<li>Updated: Uikit to 2.16.2</li>
<li>Changed: CyberCTR_Documentation.pdf to a single file.</li>
<li>Fixed: Prevent multiple instances of features tab.</li>
<li>Adjusted: Show Features tab open event.</li>
<li>Fixed: Missing menu set for CyberCTR Preferences.</li>
<li>Updated: ru (Russian) user translation</li>
<li>Updated: Passed latest CTR 1.2.8 features over to CyberCTR</li>
<li>Fixed: Missing entity on es locale.</li>
<li>Updated: Passed latest CTR 1.2.8.1 features over to CyberCTR</li>
<li>Updated: Passed latest CTR 1.2.8.2 features over to CyberCTR</li>
<li>Updated: Passed latest CTR 1.2.9 features over to CyberCTR</li>
<li>Updated: Passed latest CTR 1.2.9.1 features over to CyberCTR</li>
<li>Changed: Calls to nsIPrefService & Query nsIPrefBranch</li>
<li>Updated: tr (Turkish) localization.</li>
<li>Changed: Patterns Array.</li>
<li>Updated: Passed latest CTR 1.2.9.2 features over to CyberCTR</li>
<li>Updated: Features and information.</li>
<li>Updated: Passed latest CTR 1.2.9.3 features over to CyberCTR</li>
<li>Changed: Use &brandShortName; over hard-coded names in localization.</li>
<li>Added: Localization notes for using &brandShortName;</li>
<li>Fixed: Missing entry in features.html</li>
<li>New: Backup\Restore CyberCTR Preferences.</li>
<li>Fixed: File I\O permissions issue with CTRpreferences.txt</li>
<li>New: Import\export CTRpreferences.json</li>
<li>Fixed: Only allow the import of CTR Preferences.</li>
<li>Fixed: Make prefService Global for e10s</li>
<li>Added: Check to see if imported JSON is valid.</li>
<li>Added: Custom message for invalid JSON import.</li>
<li>Added: Localization support for import\export JSON labels.</li>
<li>Adjusted: Custom Button Color.</li>
<li>New: Adjustable gradient percentage on custom button color.</li>
<li>New: Remove text shadow from persona themes.</li>
<li>Fixed: Missed export for personanoshadow in CTRpreferences.txt</li>
<li>New: Custom Button Color with 3 color settings.</li>
<li>New: Custom Appbutton Text Color.</li>
<li>Added: New preferences to CTRpreferences.txt export.</li>
<li>Updated: New features in features.html</li>
<li>Adjusted: Custom button color behavior.</li>
<li>New: Custom button color default color.</li>
<li>Fixed: CTRpreferences.txt export invalid patterns array.</li>
<li>Fixed: missing preference export.</li>
<li>Rebuild exportCTRpreferences for exporting CTRpreferences.txt</li>
</ul>


<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.2.0</h4>
<ul style="list-style:none;">
<li>Fixed: conflict with builtin newtab page features.</li>
<li>Added: Welcome message to features & information.</li>
<li>Reformatted a few elements in features.html</li>
<li>Fixed: Missing word type in <link/></li>
<li>Fixed: Tooltip background color modifying the global tooltip background color.</li>
<li>Bumped version</li>
<li>Passed latest CTR 1.2.7 features over to CyberCTR</li>
<li>Fixed: Alternate loading animation reported: here https://8pecxstudios.com/Forums/viewtopic.php?f=5&t=777</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.9</h4>
<ul style="list-style:none;">
<li>Adjusted: Tab titles in title bar passed change https://8pecxstudios.com/Forums/viewtopic.php?f=4&t=711&p=4628#p4619</li>
<li>Adjusted: Features help documentation.</li>
<li>Passed latest CTR 1.2.6.1 features over to CyberCTR.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.8</h4>
<ul style="list-style:none;">
<li>New: Tab title in title bar, Add from this tutorial: https://8pecxstudios.com/Forums/viewtopic.php?f=4&t=711</li>
<li>Added: Option under Customize Cyberfox to turn on|off about:config menu item in CyberCTR</li>
<li>Added: Basic download button to show large icons, Now has large version of the button icon.</li>
<li>Added: Copy tab url button to show large icons, Now has large version of the button icon.</li>
<li>Adjusted: Tab title in title bar, When appmenu button is enabled and [tabsontop=false] in the black space next to the appmenu button tab titles will now display.</li>
<li>Adjusted: How the version number is shown in CyberCTR options window.</li>
<li>Fixed: Few small issues with features & information window.</li>
<li>Passed some CTR 1.2.6.1 bug fixes over to CyberCTR full merge pending.</li>
<li>Fixed: "browser.menu.aboutconfig" error in pre-cyberfox 34.0</li>
<li>Fixed: “extensions.classicthemerestorer.version” now shows correct version</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.7</h4>
<ul style="list-style:none;">
<li>Fixed:  Issue hide panel menu button labels, Fixed the zoom percent|reset zoom button label been blank.</li>
<li>Fixed: Content encoding issue with es (Spanish) localization.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.6</h4>
<ul style="list-style:none;">
<li>Conflict in cyberCTR with cyberfox classic style menu</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.5</h4>
<ul style="list-style:none;">
<li>Fixed:  Issue with customize cyberfox appearing twice in browser right click contextmenu</li>
<li>Fixed:  Issue with Portuguese language and Brazil localization a content encoding issue on one of the localized documents caused the browser to not load CyberCTR</li>
<li>Fixed Failed commit.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.4</h4>
<ul style="list-style:none;">
<li>New: Added file change detection for pre-configuration with "CTRpreferences.txt"</li>
<li>New: Added warning notification for pre-configuration with "CTRpreferences.txt"</li>
<li>New: Added ability to localize in-line documentation "CyberCTR_Documentation.pdf"</li>
<li>Added: App-Menu button color Orange (Dark).</li>
<li>Added: App-Menu button color Salmon.</li>
<li>Added: New information to in-line features & information window.</li>
<li>Added: Localization options for new pre-configuration messages.</li>
<li>Updated: Re-enabled Linux support in CyberCTR.</li>
<li>Passed latest CTR 1.2.5 features over to CyberCTR.</li>
<li>Fixed: Issue with Australis pre-set</li>
<li>Fixed: Issue when user installs CyberCTR into firefox throwing an error due to missing settings only found in cyberfox more about error here: https://8pecxstudios.com/Forums/viewtopic.php?f=6&t=475&start=20#p4366</li>
<li>Updated: Ru Russian language files</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.3</h4>
<ul style="list-style:none;">
<li>New: Feature that allows users to distribute cyberfox across network or multiple computers with same configuration "CTRpreferences.txt" file and update.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.1</h4>
<ul style="list-style:none;">
<li>Passed latest CTR 1.2.4 features over to CyberCTR.</li>
<li>Added: Large icon support for language manager if installed when "extensions.classicthemerestorer.nav_txt_ico" set to "iconsbig".</li>
<li>Fixed: Missing number 2 from string in Fr language pack.</li>
<li>Minor adjustments.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.1</h4>
<ul style="list-style:none;">
<li>Updated: Fr (French), Tr (Turkish), De (German) language translations</li>
<li>Updated: In-line documentation *.PDF</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.1.0</h4>
<ul style="list-style:none;">
<li>Fixed: Toolbar menu bar ignoring user pref when in compatibility mode with Tree Style Tab (Original: https://8pecxstudios.com/Forums/viewtopic.php?f=12&t=414) reported here: https://8pecxstudios.com/Forums/viewtopic.php?f=5&t=594</li>
<li>New: about:config setting to disable Tree Style Tab compatibility mode for drawintitlebar "extensions.classicthemerestorer.compatibility.treestyle.disable"</li>
<li>New: Inline documentation "CyberCTR_Documentation.pdf" available inside CyberCTR in "Features & help window".</li>
<li>New: CyberCTRUpdatePackage now displays better instructions on how to use, When run.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.9</h4>
<ul style="list-style:none;">
<li>New: Features & help window.</li>
<li>New: Branding logo's</li>
<li>Fixed: issue with minimum tab size when setting the square tabs min|max widths.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.8</h4>
<ul style="list-style:none;">
<li>Passed latest CTR 1.2.3 features over to CyberCTR.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.7</h4>
<li>Added: &ctr_Support_forums; to options.xul allowing the support forums text to translate.</li>
<li>Added: App-Menu button color Aurora (Light)</li>
<li>Added: App-Menu button color Green (Dark)</li>
<li>Added: App-Menu button color Red (Dark)</li>
<li>Added: Version to title window for easy support referencing.</li>
<li>Removed: console.log() for debugging from CyberCTR</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.6</h4>
<ul style="list-style:none;">
<li>Passed latest CTR 1.2.2 features over to CyberCTR.</li>
<li>Updated Fr French language files</li>
<li>Updated Tr French language files</li>
<li>Added feature australis pre-set</li>
<li>Minor adjustments.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.5</h4>
<ul style="list-style:none;">
<li>Passed latest CTR features over to CyberCTR.</li>
<li>Updated Fr French language files, Added user submitted translations.</li>
<li>Added: Compatibility waring when installing Personal Menu addon when CyberCTR is installed.</li>
<li>Minor adjustments.</li>
</ul>

<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">Version: 1.0.4</h4>
<ul style="list-style:none;">
<li>Fixed: Language files some languages were not using the newer language files.( es, fr, it, ja, ru, zh-CN, zh-TW )</li>
<li>Fixed: Options tab display order reported : https://8pecxstudios.com/Forums/viewtopic.php?f=5&t=474#p2928</li>
<li>New: Added tr (Turkish) language translation.</li>
</ul>

</div>
</body>
<html>
}