;The comment below contains SFX script commands
Overwrite=1
Delete=distribution\*.*
Title=CyberCTR Update Package 1.3.1
Text
{
<html  style="background:#fefefe;color:#333;">
<body>
<h2 style="color:#d85030;text-transform:none;font-size:24px;line-height:30px;">How to use:</h2>
<div style="font-size:15px;">
<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">For installed and zipped:</h4>
<ul>
<li>Download and run <em style="color:#e28327!important;font-weight:bold;">CyberCTRUpdatePackage.exe</em></li>
<li>Then on the open window click the browse button and select cyberfox install folder or the folder that contains <em style="color:#e28327!important;font-weight:bold;">cyberfox.exe</em></li>
<li>Now Once you have selected the install folder or the folder that contains <em style="color:#e28327!important;font-weight:bold;">cyberfox.exe</em></li>
<li>Click the extract button.</li>
<li>It will then remove the old versions of CyberCTR and add the newer version.</li>
</ul>
<h4 style="color:#659f13;text-transform:none;font-size:16px;line-height:22px;">For cyberfox portable and zipped portable:</h4>
<ul>
<li>Download and run <em style="color:#e28327!important;font-weight:bold;">CyberCTRUpdatePackage.exe</em></li>
<li>Then on the open window click the browse button and select "CyberfoxPortable\App\Cyberfox"</li>
<li>Now Once you have selected "CyberfoxPortable\App\Cyberfox"</li>
<li>Click the extract button.</li>
<li>It will then remove the old versions of CyberCTR and add the newer version.</li>
</ul>
</div>
</body>
<html>
}