@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(hsl(208,99%,37%), hsl(214,90%,23%) 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, hsla(202,100%,85%,.5) 10%, hsla(202,100%,85%,0) 70%),
						radial-gradient(farthest-side at center bottom, hsla(205,100%,72%,.7), hsla(205,100%,72%,0)),
						linear-gradient(hsl(208,98%,34%), hsl(213,87%,20%) 95%);
      --color-button-open: linear-gradient(hsl(208,95%,30%), hsl(214,85%,17%) 95%);
	}
}