@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%),
						radial-gradient(farthest-side at center bottom, rgb(192,81,247), rgba(236,172,255,0)),
						linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
      --color-button-open: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
	}
}