@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(lightgreen, green 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, hsla(210,48%,90%,.5) 10%, hsla(210,48%,90%,0) 70%),
						radial-gradient(farthest-side at center bottom, hsla(211,70%,83%,.5), hsla(211,70%,83%,0)),
						linear-gradient(lightgreen, green 95%);
      --color-button-open: linear-gradient(lightgreen, green 95%);
	}
}