@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(white,#ebebeb 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, hsla(210,48%,90%,.5) 10%, hsla(210,48%,90%,0) 70%),
						radial-gradient(farthest-side at center bottom, hsla(211,70%,83%,.5), hsla(211,70%,83%,0)),
						linear-gradient(white,#ebebeb 95%);
      --color-button-open: linear-gradient(white,#ebebeb 95%);
	}
	#ctraddon_appbutton2 label{
		color: black;
		text-shadow: none;
	}
	#titlebar #ctraddon_appbutton2 > .toolbarbutton-menu-dropmarker,
	#titlebar #ctraddon_appbutton2:hover:active > .toolbarbutton-menu-dropmarker,
	#titlebar #ctraddon_appbutton2[open] > .toolbarbutton-menu-dropmarker{
		list-style-image: url(chrome://classic_theme_restorer/content/images/appmenu-dropmarker-dark.png) !important;
	}
	#ctraddon_pw_appbuttonname label {
		color: black !important;
		text-shadow: none !important;
		background: -moz-image-rect(url(chrome://classic_theme_restorer/content/images/appmenu-dropmarker-dark.png), 0, 16, 16, 0) no-repeat right !important;
	}	
}
