Source: kcyberfoxhelper
Section: web
Priority: optional
Maintainer: 8pecxstudios <support@8pecxstudios.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: https://github.com/hawkeye116477/kcyberfoxhelper

Package: kcyberfoxhelper
Architecture: amd64
Pre-Depends: apt-transport-https
Depends: libc6 (>= 2.23), libkf5configcore5 (>= 5.18), libkf5coreaddons5 (>= 5.18), libkf5i18n5 (>= 5.18), libkf5kiocore5 (>= 5.18), libkf5kiowidgets5 (>= 5.18), libkf5notifications5 (>= 5.18), libkf5service-bin, libkf5service5 (>= 5.18), libkf5windowsystem5 (>= 5.18), libqt5core5a (>= 5.6.1), libqt5gui5 (>= 5.6.1) | libqt5gui5-gles (>= 5.6.1), libqt5widgets5 (>= 5.6.1), libstdc++6 (>= 5.3), cyberfox-kde
Description: Integration of Cyberfox with KDE Plasma
  This is a helper application that allows Cyberfox to use
  KDE file dialogs, file associations, protocol handlers and
  other KDE Plasma integration features.
