/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Global Styles */
#BrowserPreferences radio[pane] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
  padding: 5px 3px 1px;
}

radio[pane=paneMain] {
  -moz-image-region: rect(0, 32px,  32px, 0);
}

radio[pane=paneTabs] {
  -moz-image-region: rect(0, 64px, 32px, 32px);
}

#BrowserPreferences radio[pane=paneSearch] {
  list-style-image: url("chrome://browser/skin/search-pref.png");
}

radio[pane=paneContent] {
  -moz-image-region: rect(0, 96px,  32px, 64px);
}

radio[pane=paneApplications] {
  -moz-image-region: rect(0, 128px,  32px, 96px);
}

radio[pane=panePrivacy] {
  -moz-image-region: rect(0, 160px,  32px, 128px);
}

radio[pane=paneSecurity] {
  -moz-image-region: rect(0, 192px,  32px, 160px);
}

radio[pane=paneAdvanced] {
  -moz-image-region: rect(0, 224px, 32px, 192px);
}

radio[pane=paneSync] {
  list-style-image: url("chrome://browser/skin/preferences/Options-sync.png") !important;
}

/* These lines should be removed as part of fixing bug 1140495 */
label.small {
  font-size: smaller;
}

#tabPrefsBox {
  margin: 6px;
}

/* General Pane */

#useFirefoxSync,
#getStarted {
  font-size: 90%;
}

#isNotDefaultLabel {
  font-weight: bold;
}

/* Content Pane */
#translationAttributionImage {
  width: 70px;
  cursor: pointer;
}

/* Applications Pane */
#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}

/* Privacy Pane */

/* styles for the link elements copied from .text-link in global.css */
.inline-link {
  color: -moz-nativehyperlinktext;
  text-decoration: none;
}

.inline-link:hover {
  text-decoration: underline;
}

/* Modeless Window Dialogs */
.windowDialog,
.windowDialog prefpane {
  padding: 0;
}

.contentPane {
  margin: 9px 8px 5px;
}

.actionButtons {
  margin: 0 3px 6px !important;
}

#blocklistsTree treechildren::-moz-tree-image(selectionCol, checked) {
  list-style-image: url("chrome://global/skin/in-content/check.svg#check");
  width: 21px;
  height: 21px;
}

#blocklistsTree treechildren::-moz-tree-image(selectionCol, checked, selected) {
  list-style-image: url("chrome://global/skin/in-content/check.svg#check-inverted");
}

#blocklistsTree treechildren::-moz-tree-row {
  min-height: 36px;
}

/* Cookies Manager */
#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png") !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#cookieInfoBox {
  border: 1px solid ThreeDShadow;
  border-radius: 0;
  margin: 4px;
  padding: 0;
}

/* Advanced Pane */

/* Adding padding-bottom prevents the bottom of the tabpanel from being cutoff
   when browser.preferences.animateFadeIn = true */
#advancedPrefs {
  padding-bottom: 8px;
}

/* bottom-most box containing a groupbox in a prefpane. Prevents the bottom
   of the groupbox from being cutoff */
.bottomBox {
  padding-bottom: 4px;
}

/* Sync Pane */

#fxaProfileImage {
  max-width: 60px;
  border-radius: 50%;
  list-style-image: url(chrome://browser/skin/fxa/default-avatar.svg);
  margin-inline-end: 15px;
  image-rendering: -moz-crisp-edges;
}

#fxaLoginStatus[hasName] #fxaProfileImage {
  max-width: 80px;
}

#fxaProfileImage.actionable {
  cursor: pointer;
}

#fxaProfileImage.actionable:hover {
  box-shadow: 0px 0px 0px 1px #0095DD;
}

#fxaProfileImage.actionable:hover:active {
  box-shadow: 0px 0px 0px 1px #ff9500;
}

#fxaContentWrapper {
  -moz-box-flex: 1;
}

#noFxaGroup {
  -moz-box-flex: 1;
  margin: 0;
}

#fxaContentWrapper {
  padding-right: 15px;
}

#noFxaGroup > vbox,
#fxaGroup {
  -moz-box-align: start;
}

#fxaSyncEngines > vbox:first-child {
  margin-right: 80px;
}

#fxaSyncComputerName {
  margin-inline-start: 0px;
  -moz-box-flex: 1;
}

#tosPP-small-ToS {
  margin-bottom: 14px;
}

#noFxaCaption {
  font-weight: bold;
  margin-bottom: 11px;
}

.fxaSyncIllustration {
  margin-top: 35px;
}

#syncOptions caption {
  margin-bottom: 11px;
}

#fxaDeviceName {
  margin-bottom: 27.5px;
}

#noFxaDescription {
  margin-bottom: 20px !important;
}

.fxaAccountBox {
  padding: 14px 20px 14px 14px;
}

#signedOutAccountBoxTitle {
  font-weight: bold;
}

.fxaAccountBoxButtons {
  margin-bottom: 0 !important;
  margin-top: 11px;
}

.fxaAccountBoxButtons > * {
  -moz-box-flex: 1;
}

.fxaAccountBoxButtons > button {
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
  margin: 0;
  min-width: 0;
}

.fxaAccountBoxButtons > button:first-child {
  margin-right: 14px !important;
}

#fxaLoginStatus[hasName] #fxaEmailAddress1 {
  font-size: 1.1rem;
}

#fxaEmailAddress1,
#fxaEmailAddress2,
#fxaEmailAddress3 {
  word-break: break-all;
}

.fxaFirefoxLogo {
  list-style-image: url(chrome://browser/skin/fxa/logo.png);
  max-width: 64px;
  margin-inline-end: 14px;
}

#fxaLoginRejectedWarning {
  list-style-image: url(chrome://browser/skin/warning.svg);
  filter: drop-shadow(0 1px 0 hsla(206, 50%, 10%, .15));
  margin: 4px 8px 0px 0px;
}

#fxaProfileImage {
  -moz-user-focus: normal;
}

#syncOptions {
  margin-bottom: 27.5px;
}

#tosPP-small {
  margin-top: 20px;
  margin-bottom: 20px;
}

#syncDesc {
  padding: 0 8em;
}

.syncGroupBox {
  padding: 10px;
}

#accountCaptionImage {
  list-style-image: url("chrome://mozapps/skin/profile/profileicon.png");
}

#syncAddDeviceLabel {
  margin-top: 1em;
  margin-bottom: 1em;
}

#noFxaAccount {
  margin: 6px;
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}
