/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

%include ../../../../toolkit/themes/osx/global/shared.inc

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.windowDialog {
  padding: 12px;
  font: -moz-dialog;
}

/* ----- APPLICATIONS PREFPANE ----- */
description {
  font: small-caption;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 4px !important;
}

prefpane .groupbox-body {
  -moz-appearance: none;
  padding: 8px 4px 4px 4px;
}

prefpane .groupbox-title {
  background: url("chrome://global/skin/50pct_transparent_grey.png") repeat-x bottom left;
  margin-bottom: 4px;
}

tabpanels {
  padding: 20px 7px 7px;
}

caption {
  padding-inline-start: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
}

#popupPolicyRow {
  margin-bottom: 4px !important;
  padding-bottom: 4px !important;
  border-bottom: 1px solid #ccc;
}

#translationAttributionImage {
  width: 70px;
  cursor: pointer;
}

#browserUseCurrent,
#browserUseBookmark,
#browserUseBlank {
  margin-top: 10px;
}

#advancedPrefs {
  margin: 0 8px;
}

#privacyPrefs {
  padding: 0 4px;
}

#privacyPrefs > tabpanels {
  padding: 18px 10px 10px;
}

#OCSPDialogPane {
  font: message-box !important;
}

/* General Pane */

#useFirefoxSync,
#getStarted {
  font-size: 90%;
}

#isNotDefaultLabel {
  font-weight: bold;
}

/**
 * Update Preferences
 */
#autoInstallOptions {
  margin-inline-start: 20px;
}

.updateControls {
  margin-inline-start: 10px;
}

/**
 * Clear Private Data
 */
#SanitizeDialogPane > groupbox {
  margin-top: 0;
}


/* ----- SYNC PANE ----- */

#fxaProfileImage {
  max-width: 60px;
  border-radius: 50%;
  list-style-image: url(chrome://browser/skin/fxa/default-avatar.svg);
  margin-inline-end: 15px;
  image-rendering: -moz-crisp-edges;
}

#fxaLoginStatus[hasName] #fxaProfileImage {
  max-width: 80px;
}

#fxaProfileImage.actionable {
  cursor: pointer;
}

#fxaProfileImage.actionable:hover {
  box-shadow: 0px 0px 0px 1px #0095DD;
}

#fxaProfileImage.actionable:hover:active {
  box-shadow: 0px 0px 0px 1px #ff9500;
}

#fxaContentWrapper {
  -moz-box-flex: 1;
}

#noFxaGroup {
  -moz-box-flex: 1;
  margin: 0;
}

#fxaContentWrapper {
  padding-right: 15px;
}

#noFxaGroup > vbox,
#fxaGroup {
  -moz-box-align: start;
}

#fxaSyncEngines > vbox:first-child {
  margin-right: 80px;
}

#fxaSyncComputerName {
  margin-inline-start: 0px;
  -moz-box-flex: 1;
}

#tosPP-small-ToS {
  margin-bottom: 14px;
}

#noFxaCaption {
  font-weight: bold;
  margin-bottom: 11px;
}

.fxaSyncIllustration {
  margin-top: 35px;
}

#syncOptions caption {
  margin-bottom: 11px;
}

#fxaDeviceName {
  margin-bottom: 27.5px;
}

#noFxaDescription {
  margin-bottom: 20px !important;
}

.fxaAccountBox {
  padding: 14px 20px 14px 14px;
}

#signedOutAccountBoxTitle {
  font-weight: bold;
}

.fxaAccountBoxButtons {
  margin-bottom: 0 !important;
  margin-top: 11px;
}

.fxaAccountBoxButtons > * {
  -moz-box-flex: 1;
}

.fxaAccountBoxButtons > button {
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
  margin: 0;
  min-width: 0;
}

.fxaAccountBoxButtons > button:first-child {
  margin-right: 14px !important;
}

#fxaLoginStatus[hasName] #fxaEmailAddress1 {
  font-size: 1.1rem;
}

#fxaEmailAddress1,
#fxaEmailAddress2,
#fxaEmailAddress3 {
  word-break: break-all;
}

.fxaFirefoxLogo {
  list-style-image: url(chrome://browser/skin/fxa/logo.png);
  max-width: 64px;
  margin-inline-end: 14px;
}

#fxaLoginRejectedWarning {
  list-style-image: url(chrome://browser/skin/warning.svg);
  filter: drop-shadow(0 1px 0 hsla(206, 50%, 10%, .15));
  margin: 4px 8px 0px 0px;
}

#fxaProfileImage {
  -moz-user-focus: normal;
}

#syncDesc {
  padding: 0 8em;
}

#accountCaptionImage {
  list-style-image: url("chrome://mozapps/skin/profile/profileicon.png");
}

#syncAddDeviceLabel {
  margin-top: 1em;
  margin-bottom: 1em;
}

#noFxaAccount {
  margin: 12px 4px;
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}
