@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(rgb(212,131,7), rgb(179,85,15) 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, rgba(241,108,0,.5) 10%, rgba(241,108,0,0) 70%),
						radial-gradient(farthest-side at center bottom, rgb(236,108,0), rgba(233,148,26,0)),
						linear-gradient(rgb(255,139,23), rgb(184,69,6) 95%);
      --color-button-open: linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%);
	}
}