@import url(appbutton_base.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul), url(chrome://classic_theme_restorer/content/options.xul) {
	:root {
      --color-button-main: linear-gradient(rgb(239,92,69), rgb(226,67,42) 95%);
      --color-button-hover: radial-gradient(farthest-side at center bottom, rgba(254,99,74,.5) 10%, rgba(237,87,63,0) 70%),
						radial-gradient(farthest-side at center bottom, rgb(220,78,55), rgba(238,89,64,0)),
						linear-gradient(rgb(239,92,69), rgb(253,137,122) 95%);
      --color-button-open: linear-gradient(rgb(239,92,69), rgb(226,67,42) 95%);
	}
}