@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar #tbar-clonenewtab {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 320px, 32px, 286px) !important;
	}	

	#nav-bar #tbar-clonenewwindow {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 352px, 32px, 320px) !important;
	}	
	
	#nav-bar #toolbar_restartBrowser {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 384px, 32px, 352px) !important;
	}

	#nav-bar #toolbar_openLangageManager {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 416px, 32px, 384px) !important;
	}	
	
	#nav-bar #tbar-copycurrenttaburl {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 448px, 32px, 416px) !important;
	}

	#nav-bar #tbar-copyalltaburl {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/menuPanel2.png") !important;
	  -moz-image-region: rect(0px, 480px, 32px, 448px) !important;
	}		

	#nav-bar #downloads-button-additional[cui-areatype="toolbar"] {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/cctr/download-summary.png")!important;
	   -moz-image-region: rect(0px, 32px, 32px,  0px) !important;
	}
}