
html {
  font: message-box;
  font-size: 100%;
  background-color: hsl(0,0%,95%);
  color: #333;
  height: 100%;
}

body {
  margin: 0;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
  background-color:#dedede;
  background-image: url("chrome://browser/content/abouthome/noise.png");  
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: -moz-nativehyperlinktext;
  text-decoration: none;
}

.spacer {
  -moz-box-flex: 1;
}

.headerbar {
	min-height: 55px;
	max-height:70px;
	width: 100%;
}
#hmspace{
height: 5px;
background-color: #555555;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.1);
}
.hmenubar  {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
    background-color: rgb(235, 235, 237);
    background-image: linear-gradient(rgb(237, 238, 240), rgb(237, 238, 240) 95%, rgb(225, 225, 225));
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), 0px 6px 0px rgb(75, 73, 67) inset, 0px 7px 0px rgb(255, 255, 255) inset;	
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
	/*background-color: #212121;*/
}

.hmenubar li  {
	min-height:55px;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	left:auto;
	right:auto;
}

.hmenubar li a  {
	display: block;
	margin: 0;
	padding-top: 15px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 20px;
	line-height: 19px;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	width: auto;
	min-width: 73px;
	color: #555555;	
	height: 55;
	font-size: 14px;
}

.hmenubar li a:hover {
  color: #00adee;
    background-color: rgb(237, 237, 239);
    background-image: linear-gradient(rgb(216, 216, 218), rgb(237, 237, 239) 30%, rgb(237, 238, 240));
	background: url("chrome://browser/content/abouthome/menu-shadow.png") no-repeat scroll -28px -8px transparent;
	border-top: 6px solid rgb(55, 55, 55); 
	border-bottom: 1px solid rgb(55, 55, 55, .3);
	  box-shadow: 1px 4px 4px hsla(0,0%,0%,.100) inset,
              1px 4px 4px hsla(0,0%,0%,.100) inset;
	padding-top: 9px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 20px;	
	line-height: 19px;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	border-radius: 0px 0px 5px 5px;

}

.hmenubar li a:active {
   color: #555555;
    background-color: rgb(237, 237, 239);
    background-image: linear-gradient(rgb(216, 216, 218), rgb(237, 237, 239) 30%, rgb(237, 238, 240));
	border-top: 6px solid rgb(35, 35, 35);
    border-bottom: 1px solid rgb(55, 55, 55, .3);	
	  box-shadow: 1px 4px 4px hsla(0,0%,0%,.100) inset,
              1px 4px 4px hsla(0,0%,0%,.100) inset;
	padding-top: 9px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 20px ;	
	line-height: 19px;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	
}

.hmenubar li a.clicked {
	color: #FFF;
	font-weight: bold;
	background: #3a3b3c;
	border-radius: 0px 0px 5px 5px;
}

#topSection {
  text-align: center;
}

#brandLogo {
  height: 154px;
  width: 154px;
  margin: 22px auto 31px;
  background-image: url("chrome://branding/content/about-logo.png");
  background-size: 154px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#searchForm {
width: 480px;
  display: -moz-box;
}

#searchLogoContainer {
  z-index:-2000;
  display: -moz-box;
  -moz-box-align: center;
  padding-top: 2px;
  -moz-padding-end: 8px;
}

#searchLogoContainer[hidden] {
  display: none;
}

#searchEngineLogo {
  display: inline-block;
  height: 28px;
  width: 70px;
  min-width: 70px;
}

#searchIcon {
  border: 1px solid transparent;
  -moz-margin-end: 5px;
  height: 38px;
  width: 38px;
  background-image: url("chrome://browser/skin/magnifier.png");
  background-color: transparent;
  background-size: 26px;
  background-position: center center;
  background-repeat: no-repeat;
}

#searchIcon[active],
#searchIcon:hover {
  background-color: rgb(237, 238, 240)!important;
  border: 1px solid #cecece;
  border-radius: 2.5px;
}

html[searchUIConfiguration="oldsearchui"] #searchIcon {
  display: none;
}

html:not([searchUIConfiguration="oldsearchui"]) #searchText::-moz-placeholder {
  color: transparent;
}

html:not([searchUIConfiguration="oldsearchui"]) #searchLogoContainer {
  display: none;
}

#searchText {
  -moz-box-flex: 1;
  padding: 6px 8px;
  color: #555;
   background-color: #aeaeae; 
    background-image: url(chrome://browser/content/abouthome/noise.png),
	-moz-linear-gradient(rgb(237, 238, 240), rgb(237, 238, 240) 95%, rgb(225, 225, 225));
	  box-shadow: 1px 3px 3px hsla(0,0%,0%,.100) inset,
              1px 3px 3px hsla(0,0%,0%,.100) inset; 
 border:1px solid #aeaeae;
  border-radius: 2.5px 0 0 2.5px;
}

#searchText:-moz-dir(rtl) {
  border-radius: 0 2.5px 2.5px 0;
}
#searchSubmit,
#searchText:focus,
#searchText[autofocus] {
 border-color: hsla(206,100%,60%,.7) hsla(206,76%,52%,.7) hsla(204,100%,40%,.7);
}

#searchSubmit {
  -moz-margin-start: -1px;
  color: #555;
  background: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
  padding: 0 9px;
  border: 1px solid;
  background-color: #aeaeae;
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
   background-image: url(chrome://browser/content/abouthome/noise.png), 
	-moz-linear-gradient(rgb(237, 238, 240) 25%, rgb(237, 238, 240) 50%, rgb(225, 225, 225) 75%) !important;  
  border: 1px solid #aeaeae;
  border-radius: 0 2.5px 2.5px 0;
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

#searchSubmit:-moz-dir(rtl) {
  border-radius: 2.5px 0 0 2.5px;
}

#searchText:focus + #searchSubmit,
#searchText + #searchSubmit:hover,
#searchText[autofocus] + #searchSubmit {
  border-color: -moz-linear-gradient(#4cb1ff, #1793e5);
  background-image: url(chrome://browser/content/abouthome/noise.png);
  color: #00adee;
}

#searchText:focus + #searchSubmit,
#searchText[autofocus] + #searchSubmit {
  background-image: url(chrome://browser/content/abouthome/noise.png),
					-moz-linear-gradient(#4cb1ff, #1793e5);
 border: 1px solid ; 
 border-color: hsla(206,100%,60%,.7) hsla(206,76%,52%,.7) hsla(204,100%,40%,.7);
}

#searchText + #searchSubmit:hover {
   background-image:-moz-linear-gradient(rgb(237, 238, 240) 15%, rgb(237, 238, 240) 40%, rgb(225, 225, 225) 65%) !important;
	color: #00adee;
    -moz-transition: .1s ease-in;	
}

#searchText + #searchSubmit:hover:active {
  color: #00adee;
  background-image: url(chrome://browser/content/abouthome/noise.png);
  text-shadow: 0px 0px 3px #00adee;
  box-shadow:0pt 5px 0pt rgba(234, 235, 237, 0.1) inset,
			  0 0 6.5px rgba(0,0,0,.4) inset,
              0 0 5px rgba(0,0,0,.4) inset;
  -moz-transition: .1s ease-in;
   border: 1px solid #aaaaaa;
}

#launcher {
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  width: 100%;
  background-color: rgb(245, 245, 247);
  background-image: linear-gradient(rgb(247, 248, 250), rgb(237, 238, 240) 85%,  rgb(215, 215, 215));
  border-top: 1px solid rgb(199, 199, 199);
  box-shadow: 0px 1px 0px #bebebe inset;
}

#launcher:not([session]),
body[narrow] #launcher[session] {
  display: block; /* display separator and restore button on separate lines */
  text-align: center;
  white-space: nowrap; /* prevent navigational buttons from wrapping */
}

.launchButton {
  display: -moz-box;
  -moz-box-orient: vertical;
  margin: 16px 1px;
  padding: 14px 6px;
  min-width: 88px;
  max-width: 176px;
  max-height: 85px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid #cecece;
  border-radius: 12px;
  color: #555;
  font-size: 75%;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 50ms;
}

body[narrow] #launcher[session] > .launchButton {
  margin: 4px 1px;
}

.launchButton:hover {
    color: #00adee;
    background-color: rgb(235, 235, 233);
    background-image: linear-gradient(rgb(206, 206, 208), rgb(237, 237, 239) 60%, rgb(237, 238, 240));	
	  box-shadow: 1px 4px 4px hsla(0,0%,0%,.100) inset,
              1px 4px 4px hsla(0,0%,0%,.100) inset;
  border: 1px solid #bebebe;
    -moz-transition: .1s ease-in;
}

.launchButton:hover:active {
    color: #555555;
    background-color: rgb(215, 215, 213);
    background-image: linear-gradient(rgb(206, 206, 208), rgb(217, 217, 219) 30%, rgb(217, 218, 210));
	  box-shadow: 1px 4px 4px hsla(0,90%,90%,.100) inset,
              1px 4px 4px hsla(0,0%,0%,.99) inset;
border: 1px solid #bebebe;
    -moz-transition: .1s ease-out;
}

.launchButton[hidden],
#launcher:not([session]) > #restorePreviousSessionSeparator,
#launcher:not([session]) > #restorePreviousSession {
  display: none;
}

#restorePreviousSessionSeparator {
  width: 3px;
  height: 116px;
  margin: 0 10px;
  background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0)),
                    linear-gradient(hsla(211,79%,6%,0), hsla(211,79%,6%,.2), hsla(211,79%,6%,0)),
                    linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0));
  background-position: left top, center, right bottom;
  background-size: 1px auto;
  background-repeat: no-repeat;
}

body[narrow] #restorePreviousSessionSeparator {
  margin: 0 auto;
  width: 512px;
  height: 3px;
  background-image: linear-gradient(to right, hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0)),
                    linear-gradient(to right, hsla(211,79%,6%,0), hsla(211,79%,6%,.2), hsla(211,79%,6%,0)),
                    linear-gradient(to right, hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0));
  background-size: auto 1px;
}

#restorePreviousSession {
  max-width: none;
  font-size: 90%;
}

body[narrow] #restorePreviousSession {
  font-size: 80%;
}

.launchButton::before {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 6px;
  line-height: 0; /* remove extra vertical space due to non-zero font-size */
}

#downloads::before {
  content: url("chrome://browser/content/abouthome/downloads.png");
}

#bookmarks::before {
  content: url("chrome://browser/content/abouthome/bookmarks.png");
}

#history::before {
  content: url("chrome://browser/content/abouthome/history.png");
}

#apps::before {
  content: url("chrome://browser/content/abouthome/apps.png");
}

#addons::before {
  content: url("chrome://browser/content/abouthome/addons.png");
}

#sync::before {
  content: url("chrome://browser/content/abouthome/sync.png");
}

#settings::before {
  content: url("chrome://browser/content/abouthome/settings.png");
}

#restorePreviousSession::before {
  content: url("chrome://browser/content/abouthome/restore-large.png");
  height: 48px;
  width: 48px;
  display: inline-block; /* display on same line as text label */
  vertical-align: middle;
  margin-bottom: 0;
  -moz-margin-end: 8px;
}

#restorePreviousSession:-moz-dir(rtl)::before {
  transform: scaleX(-1);
}

body[narrow] #restorePreviousSession::before {
  content: url("chrome://browser/content/abouthome/restore.png");
  height: 32px;
  width: 32px;
}

#aboutCyberfox {
  display: block;
  position: relative; /* pin wordmark to edge of document, not of viewport */
  -moz-box-ordinal-group: 0;
  opacity: .5;
  transition: opacity 150ms;
}

#aboutCyberfox:hover {
  opacity: 1;
}

#aboutCyberfox::before {
  /*content: url("chrome://browser/content/abouthome/cyber.png");*/
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 69px;
  height: 19px;
}

/* [HiDPI]
 * At resolutions above 1dppx, prefer downscaling the 2x Retina graphics
 * rather than upscaling the original-size ones (bug 818940).
 */
@media not all and (max-resolution: 1dppx) {
  #brandLogo {
    background-image: url("chrome://branding/content/about-logo@2x.png");
  }

  #searchIcon {
    background-image: url("chrome://browser/skin/magnifier@2px.png");
  }

  .launchButton::before,
  #aboutMozilla::before {
    transform: scale(.5);
    transform-origin: 0 0;
  }

  .launchButton:-moz-dir(rtl)::before,
  #aboutCyberfox:-moz-dir(rtl)::before {
    transform: scale(.5) translateX(32px);
  }

  #downloads::before {
    content: url("chrome://browser/content/abouthome/downloads@2x.png");
  }

  #bookmarks::before {
    content: url("chrome://browser/content/abouthome/bookmarks@2x.png");
  }

  #history::before {
    content: url("chrome://browser/content/abouthome/history@2x.png");
  }

  #apps::before {
    content: url("chrome://browser/content/abouthome/apps@2x.png");
  }

  #addons::before {
    content: url("chrome://browser/content/abouthome/addons@2x.png");
  }

  #sync::before {
    content: url("chrome://browser/content/abouthome/sync@2x.png");
  }

  #settings::before {
    content: url("chrome://browser/content/abouthome/settings@2x.png");
  }

  #restorePreviousSession::before {
    content: url("chrome://browser/content/abouthome/restore-large@2x.png");
  }

  body[narrow] #restorePreviousSession::before {
    content: url("chrome://browser/content/abouthome/restore@2x.png");
  }

  #restorePreviousSession:-moz-dir(rtl)::before {
    transform: scale(-0.5, 0.5) translateX(24px);
    transform-origin: top center;
  }

  #aboutCyberfox::before {
    /*content: url("chrome://browser/content/abouthome/cyber@2x.png");*/
  }
}

